.form-ctl{
    margin-left: 10px;
    margin-right: 10px;
    
}
.custForm{
    width: 100%;
}
.main-table{
    margin-bottom: 10px;
    max-height: 325px;
    overflow-x: auto;
    padding: 10px;
    max-height: 500px;
    overflow-x: auto;
    min-width: 600px;
    text-align: center !important;
}