<!-- <div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="0.5%"
  fxLayoutAlign="center">
  <div fxFlex="50">
        <mat-card class="main-card"  style="height: 100px;">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
          
        </div>
        </div> -->

<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="0.5%"
fxLayoutAlign="center">

<div fxFlex="100"> 
    <mat-card class="main-card"  style="height: 100%;">
        <mat-card-header>
            <mat-card-title>Manage Customer</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content style="margin-top: 20px;">
            <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="right">
              <div fxFlex="50">
                <div class="form-ctl">
                  <mat-form-field class="custForm" style="width: 100%;">
                    <mat-label>Customer Name</mat-label>
                    <input matInput >
                  </mat-form-field>
                </div>
              </div>
                <div fxFlex="50">
                  <div class="form-ctl">
                    <mat-form-field class="custForm" style="width: 100%;">
                      <mat-label>Customer Address</mat-label>
                    <input matInput >
                    </mat-form-field>
                  </div>
                </div>
                </div>
                <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="right">
                  <div fxFlex="50">
                    <div class="form-ctl">
                      <mat-form-field class="custForm" style="width: 100%;">
                        <mat-label>Customer Contact</mat-label>
                        <input matInput >
                      </mat-form-field>
                    </div>
                  </div>
                    <div fxFlex="50">
                      <div class="form-ctl">
                        <mat-form-field class="custForm" style="width: 100%;">
                          <mat-label>Customer Salary</mat-label>
                          <input matInput >
                        </mat-form-field>
                      </div>
                    </div>
                    </div>
                    <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="right">
                      <div fxFlex="50">
                        <button mat-raised-button color="primary" style="margin-right: 5px;">Primary</button>
                        <button mat-raised-button color="primary">Primary</button>
                      </div>
                        </div>
              </mat-card-content>
    </mat-card>
</div>

</div>


